.badge {
  background-color: #000000;
  color: #ffffff;
  font-family: 'Sora', sans-serif;
}

.button {
  background-color: #000000;
  color: #ffffff;
  border-color: #000000;
  font-family: 'Sora', sans-serif;
}

.button:hover {
  background-color: #333333;
  border-color: #333333;
}
