.button {
  background-color: #000000 !important;
  color: #ffffff !important;
  border-color: #000000 !important;
  font-family: 'Sora', sans-serif !important;
}

.button:hover {
  background-color: #333333 !important;
  border-color: #333333 !important;
}
